<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'photo-list' %}">BuildWithAI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'photo-list' %}">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tag-list' %}">Tags</a>
        </li>
      </ul>
      <form class="d-flex" action="{% url 'photo-list' %}" method="get" role="search">
        <input class="form-control me-2" type="search" placeholder="Search by tag" name="tag"
          value="{{ request.GET.tag }}" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
